<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
	  <authentication mode="Forms">
		  <forms loginUrl="Paginas/InicioSesion.aspx" timeout="45"></forms>
	  </authentication>
	  <authorization>
		  <deny users="?"/>
	  </authorization>
    <compilation debug="true" targetFramework="4.8.1" />
    <httpRuntime targetFramework="4.8.1" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EntrevistaWSPortBinding" />
        <binding name="RolWSPortBinding" />
        <binding name="TareaWSPortBinding" />
        <binding name="MiembroPUCPWSPortBinding" />
        <binding name="PostulanteWSPortBinding" />
        <binding name="StaffWSPortBinding" />
        <binding name="EventoWSPortBinding" />
        <binding name="EvaluacionDesempenioWSPortBinding" />
        <binding name="UsuarioWSPortBinding" />
        <binding name="AsistenciaWSPortBinding" />
        <binding name="InicioWSPortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/GDPTalentoWA/UsuarioWS"
        binding="basicHttpBinding" bindingConfiguration="UsuarioWSPortBinding"
        contract="ServicioWeb.UsuarioWS" name="UsuarioWSPort" />
      <endpoint address="http://localhost:8080/GDPTalentoWA/EntrevistaWS"
        binding="basicHttpBinding" bindingConfiguration="EntrevistaWSPortBinding"
        contract="ServicioWeb.EntrevistaWS" name="EntrevistaWSPort" />
      <endpoint address="http://localhost:8080/GDPTalentoWA/InicioWS"
        binding="basicHttpBinding" bindingConfiguration="InicioWSPortBinding"
        contract="ServicioWeb.InicioWS" name="InicioWSPort" />
      <endpoint address="http://localhost:8080/GDPTalentoWA/RolWS"
        binding="basicHttpBinding" bindingConfiguration="RolWSPortBinding"
        contract="ServicioWeb.RolWS" name="RolWSPort" />
      <endpoint address="http://localhost:8080/GDPTalentoWA/TareaWS"
        binding="basicHttpBinding" bindingConfiguration="TareaWSPortBinding"
        contract="ServicioWeb.TareaWS" name="TareaWSPort" />
      <endpoint address="http://localhost:8080/GDPTalentoWA/AsistenciaWS"
        binding="basicHttpBinding" bindingConfiguration="AsistenciaWSPortBinding"
        contract="ServicioWeb.AsistenciaWS" name="AsistenciaWSPort" />
      <endpoint address="http://localhost:8080/GDPTalentoWA/PostulanteWS"
        binding="basicHttpBinding" bindingConfiguration="PostulanteWSPortBinding"
        contract="ServicioWeb.PostulanteWS" name="PostulanteWSPort" />
      <endpoint address="http://localhost:8080/GDPTalentoWA/StaffWS"
        binding="basicHttpBinding" bindingConfiguration="StaffWSPortBinding"
        contract="ServicioWeb.StaffWS" name="StaffWSPort" />
      <endpoint address="http://localhost:8080/GDPTalentoWA/EventoWS"
        binding="basicHttpBinding" bindingConfiguration="EventoWSPortBinding"
        contract="ServicioWeb.EventoWS" name="EventoWSPort" />
      <endpoint address="http://localhost:8080/GDPTalentoWA/EvaluacionDesempenioWS"
        binding="basicHttpBinding" bindingConfiguration="EvaluacionDesempenioWSPortBinding"
        contract="ServicioWeb.EvaluacionDesempenioWS" name="EvaluacionDesempenioWSPort" />
      <endpoint address="http://localhost:8080/GDPTalentoWA/MiembroPUCPWS"
        binding="basicHttpBinding" bindingConfiguration="MiembroPUCPWSPortBinding"
        contract="ServicioWeb.MiembroPUCPWS" name="MiembroPUCPWSPort" />
    </client>
  </system.serviceModel>
</configuration>